@model IEnumerable<WebRole1.Models.Node>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IP_Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IP_Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idNode }) |
            @Html.ActionLink("Details", "Details", new { id=item.idNode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idNode })
        </td>
    </tr>
}

</table>
